#games{
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    gap: 1.5rem;
    margin-left: 22rem;
    margin-top: 4.5rem;
    width: 100%;
    display: flex;
    z-index: 0;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#games article{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:0.5rem;
    transition: 0.5s;

}

#games article:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

#games article:hover h3{
    color: orange;
    transition: 1s;
}

#games article div{
    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
    padding: 1rem;
    background-image: url(/imgs/game-list/img-test.jpeg);
    background-size: cover;
    background-position: center;
    height: clamp(12rem,1vw,5rem);
    border-radius: 1rem;
    -webkit-box-shadow: inset 0px 29px 104px -26px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 29px 104px -26px rgba(0,0,0,0.75);
box-shadow: inset 0px 29px 104px -26px rgba(0,0,0,0.75);
}

#games article div img{
    width: 1rem;
}

#games article span{
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

