#games{
    padding-top: 1.5rem;
    gap: 1.5rem;
    margin-left: 20rem;
    margin-top: 5.5rem;
    width: 80%;
    display: flex;
    z-index: 0;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#games article{
    display: flex;
    align-items: flex-start;
    background-color: white;
    min-width: clamp(31%,2vw,33%);
    height: 30vh;
    border-radius: 1vw;
}

#games article:hover{
    transform: scale(1.03);
    transition: 0.3s;
    z-index: 1;
}

#games h4{
    color: black;
}