:root{
    --sidebar-border-color:#4C5762;
    --sidebar-background-color:#202933;
    --accent-red:#AC4444;
}

#sidebar{
    display: block;
    z-index: 1;
    position: fixed;
    top: 6rem;
    background-color: var(--sidebar-background-color);
    border-style: solid;
    border-color: var(--sidebar-border-color);
    border-width: 0.2rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 14rem;
    margin: 2rem 0rem 0rem 3rem;
}

#sidebar p{
    font-size: 1.5rem;
}

#sidebar h1{
    font-size: 1.8rem;
    font-weight: 600;
}

#sidebar section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#sidebar section article{
    padding-left: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#sidebar section header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar section ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    gap: 2rem;
}

#sidebar section ul li{
    display: flex;
    gap: 1.2rem;
    cursor: pointer;
    border-radius: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    transition: 0.3s;
}

#sidebar section ul li img{
    width: 1.5rem;
    transition: 0.3s;

}

#sidebar section ul li:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: var(--accent-orange);
}

#active-sidebar-item{
    font-weight: 600;
}

#active-sidebar-item p{
    color: var(--accent-orange);
}

#active-sidebar-item:hover p{
    color: white;
}

#sidebar section footer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#sidebar section footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;    
}

#sidebar section footer a:hover{
transition: 0.3s;
transform: scale(1.1);
}

#delete-filter{
    border: solid;
    border-width: 0.2rem;
    border-radius: 6rem;
    width: 3rem;
    height: 3rem;
    border-color:var(--accent-red); 
}